@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/text-styles" as text;
@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";

.videoCard {
  &__container {
    display: flex;
    align-items: center;
  }
  &__item {
      padding-left: 0.5rem;
  }
  &__img {
    height: 5rem;
    width: 8rem;
    border-radius: .375rem;
  }
  &__title {
      @include text.subheader-mobile;
      color: $black;
      margin-top: 0.5rem;
  }
}
