/* Primary colors */

$black: #323232;    //primary text color
$blue: #0095FF;     //primary CTA color. Active form field outline color. 
$silver: #AFAFAF;   //Secondary text color. Text label color.
$white: #FFFFFF;    //Background color. CTA text color. 

/* Secondary colors */

$dark-black: #000000;   //Video player components.
$dark-blue: #0065AD;    //CTA hover state color.
$mercury: #E1E1E1;      //Divider line. Form field outline color.
$alabaster: #FAFAFA;    //Form field background color. 


// PADDING

/* desktop/tablet

Padding before headlines: 2.25rem
Padding after headlines: 1.5rem
padding between components: 1.5rem

mobile

Padding before headlines: 1.5rem
Padding after headlines: 1rem
Padding between components: 1rem

*/

