/* Regular */
@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirNext-regular.ttf) format("truetype");
    font-weight: 400;
}

/* Bold */
@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirNext-bold.ttf) format("truetype");
    font-weight: 700;
}