@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/text-styles" as text;
@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";

.header {
  padding: 1rem 0.5rem 1rem 0.5rem;
  width: 100vw;
  &__img-wrapper {
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }
  &__logo-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  &__searchBar-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }
  &__searchBar-input {
    @include text.labels-buttons-mobile;
    font-weight: 400;
    background-image: url(../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 5%;
    background-color: $alabaster;
    border: 0.125rem solid $mercury;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    width: 95%;
    margin-right: 4rem;
    border-radius: 0.25rem;
    text-indent: 1.6rem;
    &::placeholder {
      color: $black;
    }
    &:focus {
      outline: 1px solid $blue;
      box-shadow: 0 0 0.5rem #76a7db;
    }
  }
  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }
  &__btn {
    @include text.labels-buttons-mobile;
    color: $white;
    font-weight: 400;
    background-color: $blue;
    border-radius: 0.25rem;
    height: 2.5rem;
    border: none;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-image: url(../../assets/icons/upload.svg);
    background-repeat: no-repeat;
    background-position: 3%;
  }
  &__btn:hover {
    background-color: $dark-blue;
    transition: 0.3s ease;
  }
}

/* Media queries for tablet */

@include breakpoints.medium {
  .header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__img-wrapper {
      position: absolute;
      top: 1rem;
      right: 2.5rem;
    }
    &__logo-wrapper {
      position: absolute;
      top: 1rem;
      left: 2.5rem;
      display: inline-block;
      padding-top: 0.5rem;
      height: 1.5625rem;
      width: 7.8125rem;
    }
    &__searchBar-input {
      background-position: 5%;
      width: 100%;
      padding: 0.6rem 6rem 0.6rem 0;
      margin-right: 0;
      text-indent: 2rem;
    }
    &__searchBar-img-container {
      padding-bottom: 0;
    }
    &__btn {
      width: 20vw;
      margin-left: 1rem;
      background-position: 3%;
    }
    &__searchBtn-wrapper {
      display: flex;
      margin-right: 5rem;
    }
    &__btn-wrapper {
      position: relative;
    }
  }
}

/* Media queries for desktop */

@include breakpoints.large {
  .header {
    &__img-wrapper {
      right: 3rem;
    }
    &__logo-wrapper {
      left: 8rem;
    }
    &__searchBar-input {
      padding-right: 6.5rem;
      width: 90%;
    }
    &__btn {
      width: 12vw;
      margin-left: 0;
    }
  }
}
