@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/text-styles" as text;
@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";

.comments {
  &__container {
    padding: 0 1rem;
    height: 35vh;
  }
  &__total {
      @include text.body-copy-mobile;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0.5rem;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 1.5rem;
    flex-shrink: 0;
  }
  &__input-title {
    @include text.labels-buttons-mobile;
    font-size: 0.6rem;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
    color: $silver;
  }
  &__text-input {
    @include text.body-copy-mobile;
    font-family: Avenir;
    margin-bottom: 1rem;
    padding: 0.5rem 6rem 3rem 0.5rem;
    color: $black;
    border: 1px solid $mercury;
    background-color: $alabaster;
    border-radius: 0.25rem;
  }
  &__btn {
    @include text.labels-buttons-mobile;
    width: 100%;
    color: $white;
    font-weight: 400;
    background-color: $blue;
    border-radius: 0.25rem;
    height: 2rem;
    border: none;
    text-transform: uppercase;
    background-image: url(../../assets/icons/add_comment.svg);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 5%;
  }
}

/* Media queries for tablet */

@include breakpoints.medium {
    .comments {
        &__wrapper {
            justify-content: space-evenly;
        }
        &__input-btn-container {
            display: flex;
            align-items: center;
        }
        &__text-input {
            width: 60vw;
            height: 2.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0;
        }
        &__btn {
            width: 20vw;
            height: 2.5rem;
            background-position: 6%;
            margin-left: 1.5rem;
            margin-top: 0.5rem;
        }
    }
}

/* Media queries for desktop */

@include breakpoints.large {
    .comments {
        &__wrapper {
            justify-content: flex-start;
        }
        &__text-input {
            width: 30vw;
        }
    }
}

.comments {
  &__content-container {
    display: flex;
    padding: 1rem;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
  }
  &__content-logo {
    flex-shrink: 0;
    background-color: $mercury;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content-text {
    margin: 0;
  }
}